<script>
         $(document).ready(function(){

    $('select').formSelect();
    $('.sidenav').sidenav();
    $(".dropdown-trigger").dropdown();
  });
      </script>
    
 

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <form action="/links/editnodo/{{nodo.id_nodo}}" method="POST">

                         <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">important_devicess</i>
                                    <label>Tipo</label><br>
                                        <select name="tipo_nodo" class="form-control" id="tipo_nodo" autofocus required>

                                        <option value="Iluminación">Iluminación</option>
                                        <option value="Clima">Clima</option>
                                        </select>
                                </div>
                          </div>
                          <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">pin_drop</i>
                                    <label>Ubicación</label><br>
                                        <select name="ubicacion" class="form-control" id="ubicacion" required>
                                        
                                        <option value="Sala">Sala</option>
                                        <option value="Comedor">Comedor</option>
                                        <option value="Cocina">Cocina</option>
                                        <option value="Baño">Baño</option>
                                        <option value="Recamara">Recamara</option>
                                        <option value="Estancia">Estancia</option>
                                        <option value="Jardín">Jardín</option>
                                         
                                        </select>
                                </div>
                          </div>
                          <div class="row">
                                        <div class="input-field col s12">
                                        <i class="material-icons prefix">description</i>
                                        <label>Nombre</label>
                                        <input type="text" name="nombrenodo" class="form-control" value="{{nodo.nombrenodo}}" required>
                                        </div>
                          </div>
                          <div class="row">
                                        <div class="input-field col s12">
                                        <i class="material-icons prefix">language</i>
                                        <label>Token</label>
                                        <input type="text" name="ipnodo" class="form-control"  value="{{nodo.ip}}">
                                        </div>
                          </div>
                          <div>
                              <button class="btn-floating btn-large waves-effect waves-light "><i class="material-icons">add</i></button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>