<body>
  
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Estamos Trabajando</h1>
      <div class="row center">
        <h5 class="header col s12 light">Aplicacion en Construccion</h5>
      </div>
      <div class="row center">
        <a href="/" id="download-button" class="btn-large waves-effect waves-light orange">Regresa a Inicio</a>
      </div>
      <br><br>

    </div>
  </div>



  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SaasKun NAH</h5>
          <p class="grey-text text-lighten-4">Nuestro Compromiso es crear la primer Plataforma totalmente Interactiva para IoT.</p>


        </div>
        
       
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="/"> SaasKun</a>
      </div>
    </div>
  </footer>

  </body>