<div class="container">
    <div class="align center" ><h2>{{user.username}} House</h2></div>
    <div class="row">
        {{#each links}}
        <span class="col s6 m3 l3">
            <div class="card">
    <span class="card-image waves-effect waves-block waves-light">

       
      <img class="activator"   {{#compare tipo_nodo 'eq' 'Iluminación'}}   src="./img/focoapagado.jpg"  {{/compare}} {{#compare tipo_nodo 'eq' 'Clima'}}   src="./img/fananimatechico.png"  {{/compare}}    alt="Fondo" id="statusactualnodo{{id_nodo}}">
     
    </span>
    <span class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{tipo_nodo}} </span>
        
        <div>
             <label>{{nombrenodo}}  {{ubicacion}} <br> Creado {{timeago created_at}}</label>
            
             <span class="switch col s12">
                 <label>
                 Off
                 <input type="checkbox" name="status" class="form-control" placeholder="Estado del Disp." value="{{status_nodo}}" onclick="{{#compare tipo_nodo 'eq' 'Iluminación'}}changeImage{{/compare}}{{#compare tipo_nodo 'eq' 'Clima'}}changeImageClima{{/compare}}({{id_nodo}})">
                 <span class="lever"></span>
                 On
                 </label>
             </span>
                
              </div>
             <ul id="menunodos{{id_nodo}}" class="dropdown-content">
                    <li><a href="#">Actualizar</a></li>
                    <li><a href="/links/editnodo/{{id_nodo}}">Editar</a></li>
                    <li class="divider"></li>
                    <li><a onclick="Confirm({{id_nodo}})" >Borrar</a></li>
            </ul> 
              <a class="dropdown-trigger right" href="#!" data-target="menunodos{{id_nodo}}"><i class="material-icons" >more_vert</i></a>
                
    </span>
             
    <span class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{nombrenodo}}  {{ubicacion}}<i class="material-icons right">close</i></span>
      <p>{{ip}}</p>
    </span>
  </div>
        </span>
        {{else}}
        <div class="container s12 m3">
            <div class="card card-body center blue darken-1">
                    <p>No Tienes Nodos Registrados</p>
                    <a class="black-text teal lighten-1 bold" href="/links/addnodo">Registra Uno</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>



    <script>
    
    function changeImage(id_nodo) {
        var image = document.getElementById('statusactualnodo'+id_nodo);
        if (image.src.match("focoprendido.jpg")) {
            image.src = "./img/focoapagado.jpg";

            // Aqui cambiaremos el estado en la BD
        } else {
            image.src = "./img/focoprendido.jpg";
        }
    }


    function changeImageClima(id_nodo) {
        var image = document.getElementById('statusactualnodo'+id_nodo);
        if (image.src.match("fananimatechico.png")) {
            $.post("/links/send-mqtt/"+id_nodo, {message: "1"});
            // Aqui va el registro de la BD
            
            image.src = "./img/fananimatechico.gif";

            
           

            // Aqui cambiaremos el estado en la BD
        } else {
            image.src = "./img/fananimatechico.png";
            $.post("/links/send-mqtt/"+id_nodo, {message: "0"});
             // Aqui va el registro de la BD
        }
    }
    
        function Confirm(e) {
//Ingresamos un mensaje a mostrar
var mensaje = confirm("¿Seguro que quieres Borrar el Nodo?");
//Detectamos si el usuario acepto el mensaje
if (mensaje) {
    window.location.href="links/deletenodo/"+e;

}

}



    </script>

