<div>
	<h2 class="my-5 h3 text-center">Acuerdo de privacidad</h2>
	<p class="grey-text">En SaasKun, su privacidad es lo más importante para nosotros. Esta declaración establece las prácticas de privacidad con respecto a la compilación, uso y divulgación de información personal en este sitio web.
 
La información personal es aquella información que lo identifica a usted personalmente. La información personal podrá incluir su nombre, dirección de correo electrónico y teléfono, según sea el caso. Los visitantes del sitio web no podrán solicitar la revelación de ningún dato personal. Sin embargo, en forma voluntaria, podrá usted proporcionarnos y divulgar cualquier información personal, mediante el uso de ciertas características de nuestro sitio tales como la de la sección del seguimiento (Follow us) de este sitio.
 
Sin su permiso, La Empresa jamás revelará, venderá o arrendará a terceros distintos a los pertenecientes a nuestras subsidiarias, la información personal que usted nos haya proporcionado a través del sitio, a menos que la ley nos obligue a hacerlo.
 
<strong>Acceso</strong>
Si usted ya ha solicitado ser parte de una lista de correo, podrá cancelar su perfil a través de su contacto con nosotros, utilizando la información suministrada al final de esta declaración de privacidad. Si usted ya nos ha proporcionado su información personal y desea verificar, eliminar o corregir la información existente en nuestros archivos, sírvase contactarnos utilizando la información suministrada al final de esta declaración de privacidad.
 
<strong>Seguridad</strong>
Su información personal será tratada por SaasKun como información privada y confidencial. Nos esforzamos en garantizarle que sus datos personales quedan protegidos en todo momento; la información es almacenada en un sitio seguro de SaasKun, con el objeto de mantener la confidencialidad de la misma.
 
No obstante, a pesar de que La Empresa ha puesto en práctica métodos considerados eficaces para la protección de sus datos personales, no podemos garantizarle que dicha información no podría perderse, ser utilizada ilegalmente, o modificados sus términos en forma fraudulenta, ya que ninguna transmisión de datos a través de Internet puede ser garantizada como completamente confidencial. En consecuencia, no asumimos responsabilidad legal alguna derivada del uso de la información suministrada por usted o por terceros a través de dicho medio.
 
<strong>Información confidencial o reservada</strong>
SaasKun se complace en tener noticias suyas, y recibe con agrado sus comentarios relacionados con nuestra empresa. Usted sabrá comprender que SaasKun no desea recibir información suya confidencial o reservada a través de nuestro sitio web. Sírvase tomar en cuenta que cualquier información no personal o material enviado a Saaskun, será considerado como NO confidencial. Mediante el envío a nuestra empresa de cualquier información o material, usted otorga a Saaskun una licencia irrestricta e irrevocable para utilizar, reproducir, mostrar, explotar, modificar, transmitir y distribuir dicho material o información, y también usted presta su acuerdo para que Saaskun se considera libre de utilizar cualquier idea, concepto, conocimiento o técnica que usted nos sugiera para cualquier propósito.
 
<strong>Correo electrónico (E-mail)</strong>
Si usted enviase una consulta por correo electrónico a este sitio, cualquier información personal por usted sometida podría ser utilizada por los empleados de SaasKun o sus filiales que requieran acceso al mismo para responder a su consulta.
 
<strong>Cambios</strong>
SaasKun se reserva el derecho de modificar esta declaración de privacidad de la forma en que lo considere oportuno y sin previo aviso. Sin embargo, nos aseguraremos de que cualquier cambio a esta declaración publicado en esta página, esté en conformidad con las leyes de privacidad vigentes en México.
 
Sírvase considerar que las versiones de La Empresa en inglés y español de Internet, tienen el mismo valor jurídico.
 
<strong>Enlaces externos</strong>
Este sitio web podrá contener enlaces que podrían llevarlo a usted a otros sitios web. Esta declaración de privacidad no se extiende a las prácticas de recopilación de datos de terceros, y SaasKun no asume responsabilidad alguna por las prácticas de privacidad, políticas o acciones de terceros. Antes de tomar una decisión acerca de su aceptación o no de utilizar dichos sitios basados en sus prácticas de privacidad, debería usted informarse de las políticas de privacidad de los mismos.
 
También usted acepta que SaasKun podrá suministrar sus datos de candidatura a terceras partes consideradas pertinentes, con el fin de procesar la información. También acepta usted que SaasKun podrá transferir sus datos fuera del país donde usted reside o trabaja (incluido, pero no limitado al Espacio Económico Europeo (EEE)), que involucra a países que no podrían suministrar el mismo nivel de protección para el procesamiento de sus datos de candidatura. Todas las transferencias de datos a terceros, o a países fuera de su país de residencia o de trabajo (incluyendo, pero no limitado al Espacio Económico Europeo (EEE)), cumplirá con la Política de Privacidad de SaasKun y sus protocolos vigentes relacionados con la seguridad de datos.
 
<strong>¡Descubra más!</strong>
Si usted quisiese formular comentarios, preguntas o quejas acerca de la declaración de privacidad SaasKun o sus prácticas, sírvase ponerse en contacto con el Vicepresidente Sénior, Legal y Secretario Corporativo por teléfono al 52+614-564-9156, o por correo electrónico a info@saaskun.com o por escrito a la siguiente dirección: 16294 WallStreet.
 
<strong>ACEPTO DECLINO</strong>
Mediante el sometimiento de esta declaración, certifico que las declaraciones formuladas por mí en este formulario de solicitud, o en cualquier otro documento justificativo, son verdaderas y completas. Comprendo y acepto que una declaración falsa podría descalificarme del empleo, o después de haber sido asignado al mismo, lo que podría resultar en la aplicación de acciones disciplinarias, hasta donde lo permita la legislación aplicable.
 
Procederemos a efectuar las verificaciones de antecedentes suficientes para determinar si sus calificaciones resultan adecuadas para ocupar la posición postulada, o para la que usted ha sido seleccionado/a. Ello podrá incluir la obtención de referencias penales, criterios de elegibilidad de empleo, y calificaciones.
</p>

</div>







