#n1{
	/* width: 100%; */
	display: block;
	background-color: #303335;
	overflow: hidden;
	outline: 10px solid #303335;
}
.h1{
	color: white;
	text-align: center;
	font-family: helvetica;
}
.l1{
	color: white;
	text-align: center;
	font-family: helvetica;
	float:right;
}
#b1{
	display: inline-block;
	border: none;
	color: black;
	background-color: white;
	padding: 5px;
	float: right;
}
#im1{
	float: left;
	width: 30%;
	height: 250px;
	border:5px black solid;
	margin: 10px;
}
#im2{
	float: left;
	width: 30%;
	height: 250px;
	border:5px black solid;
	margin: 10px;
}
#im3{
	float: left;
	width: 30%;
	height: 250px;
	border:5px black solid;
	margin: 10px;
}
.h2{
	font-family: helvetica;
	color: #0091CE;
	text-align: center;
}
.a1{
	float: left;
	border: 5px;
	width: 30%;
	padding: 15px;
	margin: 7px;
	text-align: justify;
	margin-top: 50px;
}
.p1{
	font-family: helvetica;
}
.a2{
	clear: left;
	border: 5px;
	width: 95%;
	padding: 15px;
	margin: 7px;
	text-align: center;
}
#im4{
	width: 80%;
	height: 80%;
	border:5px black solid;
}
#f1{
	width: 100%;
	background-color: #303335;
  	overflow: hidden;
	outline: 10px solid #303335;
	align-items: center;
}
.h33{
	color: white;
	font-family: helvetica;
	float: left;

}
#h331{

}
#h332{
	position: absolute;
	left: 50%;
  	transform: translate(-50%, -50%);
}
#h333{
	float: right;
	
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}



/*.d1{
	float: left;
}
*/
