 {{#if success}}
      <div class="flash_message center">
        <div class="chip chip_message_success">
            {{success}}
            <i class="close material-icons">close</i>
         </div>
        </div>
    {{/if}}

     {{#if message}}
      <div class="flash_message center">
        <div class="chip chip_message_info">
            {{message}}
            <i class="close material-icons">close</i>
         </div>
        </div>
    {{/if}}