
<script>
         $(document).ready(function(){

    $('select').formSelect();
    $('.sidenav').sidenav();
    $(".dropdown-trigger").dropdown();
    $('#tipo_nodo').val("{{nodo.tipo_nodo}}");
    $('#ubicacion').val("{{nodo.ubicacion}}");
    $('.modal').modal();
  });
      </script>



<ul id="opcionesavanzadas" class="dropdown-content">
        {{#if user}}
        <li><a href="/links/alarmas"><i class="material-icons">alarm_on</i>Crear Alarmas</a></li>
        <li class="divider"></li>
        <li><a href="/links/graficas"><i class="material-icons">show_chart</i>Graficas</a></li>
        <li class="divider"></li>
        <li><a href="/links/exportar"><i class="material-icons">picture_as_pdf</i>Exportar a PDF</a></li>
        <li class="divider"></li>
        {{/if}}
     </ul>
<nav class="light-blue darken-2 fixed-top"> <div class="nav-wrapper">
    <div class="container">
         <a href="/" class="brand-logo">
      <img src="/img/saaskun.png">
         </a>

         {{#if user}}
      <ul class="right hide-on-med-and-down">
        <li><a href="/links"><i class="material-icons">home</i></a></li>
        <li><a href="/profile"><i class="material-icons">account_box</i></a></li>
        <li><a class="waves-effect waves-light" onclick="Confirmsalir()"><i class="material-icons">keyboard_return</i></a></li>
        <!-- Dropdown Trigger -->
        {{!-- <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons" >more_vert</i></a></li>
         --}}
         </ul>
         {{else}}
                <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">home</i></a></li>
        <li><a href="/signin"><i class="material-icons">account_circle</i></a></li>
        <li><a href="/signup"><i class="material-icons">person_add</i></a></li>
        <!-- Dropdown Trigger -->
        {{!-- <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons" >more_vert</i></a></li>
         --}}
         </ul>
      {{/if}}
      
    </div>
    
    </div> 
 </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      {{#if user}}
      <div class="background">
        <img src="/img/fondosidenav.jpg" alt="Fondo Menu">
      </div>
      <a href="/profile"><img class="circle" src="/uploadsdni/{{user.username}}.jpg"></a>
      <a href="#!"><span class="white-text name">{{user.nombre}}  {{ user.apellidos}}</span></a>
      <a href="#email"><span class="white-text email">{{user.email}}</span></a>
    </div></li>
    
    <li><a href="/"><i class="material-icons">dehaze</i>Página de Inicio</a></li>
    <li><a class="subheader">¿Qué Deseas Hacer {{user.username}}?</a></li>
    <li><a href="/links"><i class="material-icons">home</i>Ver Mi Hogar</a></li>
    <li><a href="/profile"><i class="material-icons">account_box</i>Ver Perfil</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Opciones</a></li>
    <li><a class="waves-effect dropdown-trigger" data-target="opcionesavanzadas"><i class="material-icons">view_list</i>Avanzadas</a></li>
     <li><a class="waves-effect" href="/links/privacidad"><i class="material-icons">question_answer</i>Terminos y Condiciones</a></li>
    <li><a class="waves-effect" href="/links/addnodo"><i class="material-icons">add_circle</i>Registrar Nodo</a></li>
     <li class="divider"></li>
    <li><a class="waves-effect waves-light" onclick="Confirmsalir()"><i class="material-icons">keyboard_return</i>Salir</a></li>
   
    {{else}}

    <li><a href="/"><i class="material-icons">dehaze</i>Página de Inicio</a></li>
    <li><a href="/signin"><i class="material-icons">account_balance</i>Iniciar Sesión</a></li>
    
    <li><div class="divider"></div></li>
    
    <li><a class="waves-effect" href="/signup"><i class="material-icons">person_add</i>Registrarse</a></li>
    <li><a class="waves-effect" href="/links/privacidad"><i class="material-icons">question_answer</i>Terminos y Condiciones</a></li>
     {{/if}}
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger fixed-top btn-floating btn-large waves-effect waves-light"><i class="medium material-icons">dashboard</i></a>
        


        <script>

          
        function Confirmsalir() {
//Ingresamos un mensaje a mostrar
var mensaje = confirm("¿Seguro que quieres Salir?");
//Detectamos si el usuario acepto el mensaje
if (mensaje) {
    window.location.href="/logout";

}

}


        </script>