<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/bts/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/bts/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/bts/css/style.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <style type="text/css">
    @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
      }
    }

  </style>
<body>

  <!-- Full Page Intro -->
  <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/93.jpg'); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="text-center white-text mx-5 wow fadeIn">
        <h1 class="mb-4">
          <strong>Bienvenido a SaasKun Web</strong>
        </h1>

        <p>
          <strong>La Mejor Comunidad IoT del Mundo</strong>
        </p>

        <p class="mb-4 d-none d-md-block">
          <strong>Nuestro Compromiso es crear la primer Plataforma totalmente Interactiva para IoT (Internet De Las Cosas en ingles).
            ¿Quieres afiliarte a nosotros?, Registrate.</strong>
        </p>

        <a href="/signup" class="btn btn-outline-white btn-lg">Inicio
          
        </a>
      </div>
      <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->

  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" class="img-fluid z-depth-1-half"
              alt="">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">Comó Funciona Nuestra Plataforma</h3>
            <p>
            El funcionamiento de nuestro sistema, si bien no es algo que se pueda entender de la noche a la mañana, teniendo conocimiento en varias ramas como lo son la electrónica y programación se puede comprender de qué manera está funcionando el sistema, nuestro sistema (NAH) se divide en componentes centrales, el nodo y el registro de la plataforma.
            Primero que nada, ¿Qué es un nodo?
      <br>
      Según Wikipedia un nodo es: <i>"Un punto de intersección, conexión o unión de varios elementos que confluyen en el mismo lugar."</i>
      <br>
      El nodo ayudará a muchas de las tareas que nuestro servicio provee siendo una de las partes esenciales de nuestro servicio, sin él no se podría hacer ninguna gestión de nuestro hogar.
      <br>
      Como el nombre lo indica el <strong>registro en la plataforma</strong> es dar de alta a un usuario que quiera utilizar nuestro servicio, para ello solo es necesario entrar a nuestra página y dar clic en <strong>Regístrate Gratis</strong>, o en el icono ubicado en la parte superior derecha en el que esta la silueta de una persona con un símbolo de suma.
      <br>
      Es de vital importancia estar registrado en nuestra página para poder utilizar nuestro servicio para poder utilizarlo.
            </p>
            <p>¿Necesitas más información? puedes consultar la documentación sobre NAH(Plataforma IoT).</p>
            <!-- Main heading -->

            <hr>


        
      <h4 class="feature-title">Nuestro servicio cuenta con:</h4>
            <p>
              <ul>
                <li> <strong>250+</strong> Nodos Maximos.</li>
          <li> <strong>1</strong> Sola Cuenta.</li>
          <li> <strong>Alarmas</strong> Personalizadas y Componentes actualizados constantemente.</li>
          <li> <strong>Empieza con tu Cuenta libre de uso antes de convertirte en Premium.</strong></li>
              </ul>
            </p>

            <!-- CTA -->
            <a target="_blank" href="Manual.pdf" download="Manual" class="btn btn-grey btn-md">Descargar Manual
              <i class="fas fa-download ml-1"></i>
            </a>
            <a target="_blank" href="/signup" class="btn btn-grey btn-md">Regístrate Gratis
              
              <i class="far fa-image ml-1"></i>
            </a>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Main info-->

      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section>

        <h3 class="h3 text-center mb-5">Acerca de Nosotros</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">

            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-code fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Nuestros Nodo</h5>
                <p class="grey-text">Como mencionamos con anterioridad, los nodos son una parte muy importante y esenciales para que nuestro servicio funcione como debe, sin ellos no se puede gestionar ningún aparato desde nuestra página por lo que es necesario tener en cuenta eso. Nuestros nodos son compatibles con una gran variedad de dispositivos electrónicos, principalmente los más básicos o lo que todos tendrían en su hogar como lo puede ser un simple y sencillo foco, con el nodo podrás controlar remotamente el prendido o apagado de este dispositivo.</p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-book fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Plataforma</h5>
                <p class="grey-text">
          La plataforma tiene la función de controlar los nodos con los que cuenta nuestro cliente, esto se logra mediante una cuenta de SaasKun (cuenta previamente registrada), gracias a la plataforma, se podrá modificar los distintos nodos que se tienen en el hogar brindando al usuario información sobre su hogar además de tener control sobre este.
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-graduation-cap fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Manuales</h5>
                <p class="grey-text">
          Somos conscientes de que a nuestros usuarios les gusta explorar o experimentar con lo que tienen en mano, no los podemos culpar ya que en nuestra naturaleza siempre ha estado la curiosidad de saber <strong>¿Qué pasaría si...?</strong> por lo que ideamos un manual en el cual se podrán ver las configuraciones disponibles para el usuario, configuraciones que permitirán al usuario poder experimentar de diversas maneras con nuestro servicio (dentro de lo que nuestras políticas dictan), nuestro manual contara con actualizaciones que contendrán más información acerca de lo que se puede configurar o las posibilidades que se tienen.
          </p>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12">
            <h5 class="feature-title">¿Quieres un poco mas de información?</h5>
            <p class="h5 text-center mb-4">Te dejamos este video que da una introducción al IoT.</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iPFbHL6Ec4c" allowfullscreen></iframe>
            </div>
            <p class="h5 text-center mb-4">Y también este, que te dará una introducción a lo que es la domótica.</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q3MQTXjdNMI" allowfullscreen></iframe>
            </div>
          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

      <hr class="my-5">

      <!--Section: Not enough-->
      <section>

        <h2 class="my-5 h3 text-center">Features</h2>

        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">

          <!--First column-->
          <div class="col-md-4">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Personalización</h6>
                <p class="grey-text">SaasKun Nah da lugar a poder personalizar la forma de gestionar tu hogar, actualmente se encuentra muy estandarizado todo, pero conforme avancemos podrás tener más libertad de personalización.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Encendido y apagado</h6>
                <p class="grey-text">Con nuestro servicio podrás controlar el encendido o apagado de ciertos dispositivos que estén conectados a un nodo, lo que da lugar a poder apagar aquella luz que se te quedo prendida después de salir de tu hogar apresurado o en caso contrario, prender una luz antes de llegar a tu hogar después de una larga jornada de trabajo.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Control electrico</h6>
                <p class="grey-text">Con SaasKun Nah podrás ver cuanta energía consume cada aparato que esté conectado a un nodo y con esa información analizar que dispositivos consumen más energía a cierta hora.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Usuarios</h6>
                <p class="grey-text">Nuestro servicio puede ser controlado por más de un usuario (en un servicio de contrato premium) y cada usuario contara con una habitación asignada con lo que le da un control sobre su propia recamara por supuesto habrá un administrador que tendrá control sobre lo que los usuarios pueden o no hacer.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/First column-->

          <!--Second column-->
          <div class="col-md-4 flex-center">
            <img src="https://mdbootstrap.com/img/Others/screens.png" alt="MDB Magazine Template displayed on iPhone"
              class="z-depth-0 img-fluid">
          </div>
          <!--/Second column-->

          <!--Third column-->
          <div class="col-md-4 mt-2">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Resgistros</h6>
                <p class="grey-text">No, no nos referimos al registro de un usuario, los registros hacen alusión a una bitácora sobre lo que está sucediendo con los dispositivos, su principal función es informar a un administrativo sobre lo que está sucediendo, en la bitácora podrá observar que usuario utilizo cierto dispositivo y que hora.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Programa encendidos o apagados</h6>
                <p class="grey-text">Una de nuestras herramientas para usuarios premium es la de poder programar el encendido o apagado de, por ejemplo, un foco de la sala principal, ya sea para no tener que estar entrando a la aplicación todos los días para encender o apagar una luz o para tener la luz lista a cierta hora de la mañana para poder despertar y ahorrar unos cuantos minutos de utilidad.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Fácil contratación</h6>
                <p class="grey-text">Contratar nuestro servicio no consta de hacer muchas cosas, solo basta con registrarse en nuestra página y hacer una llamada para la instalación de los nodos en donde sea indicado.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Alarmas</h6>
                <p class="grey-text">Otra de las cosas que puede hacer un usuario premium es la personalización de alarmas, estas se activaran de acuerdo a lo que el usuario indique, por ejemplo, cuando cierto dispositivo sobrepase de cierto consumo eléctrico seleccionado por el usuario mandar una alerta de ese evento.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/Third column-->

        </div>
        <!--/First row-->

      </section>
      <!--Section: Not enough-->

      <hr class="mb-5">

      <!--Section: More-->
      <section>

        <h2 class="my-5 h3 text-center">Otras caracteristicas</h2>

        <!--First row-->
        <div class="row features-small mt-5 wow fadeIn">

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fab fa-firefox fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2 pl-3">
                <h5 class="feature-title font-bold mb-1">Desde donde sea...</h5>
                <p class="grey-text mt-2">Puedes tener accesibilidad a tu hogar desde cualquier lugar en el que cuentes con acceso a internet, solo basta con entrar a tu navegador de preferencia, ingresar con tu cuenta de usuario y ¡listo! y próximamente se podrá ingresar con una aplicación para dispositivos móviles.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-level-up-alt fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Constantes actualizaciones</h5>
                <p class="grey-text mt-2">Nuestro equipo de trabajo sabe lo importante que es mantener a nuestros usuarios actualizados y por eso estamos en continua mejora de nuestro servicio, proveyendo a nuestros clientes actualizaciones de manera frecuente.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-comments fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Comunidad activa</h5>
                <p class="grey-text mt-2">Si bien al inicio de cada proyecto o servicio los usuarios no tienen tanta información respecto al servicio, confiamos que de aquí a 2 años nuestra comunidad crezca un 70%, según la estimación de usuarios que el equipo de desarrollo prevé, y con ello crear una comunidad que ayudara a usuarios novatos a poder personalizar su hogar con un estilo más profesional.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->


        </div>
        <!--/First row-->

        <!--Second row-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Soporte tecnico</h5>
                <p class="grey-text mt-2">Nuestro equipo de desarrollo tiene la disposición de ayudar a sus usuarios cada que lo necesiten por eso hay múltiples formas de resolver algún problema técnico que se tenga ya sea por mensaje mediante nuestra página de Facebook, por correo electrónico, en preguntas frecuentes o vía telefónica.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Entre otras cosas...</h5>
               <!--     <p class="grey-text mt-2"> </p>   -->
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->


        </div>
        <!--/Second row-->

      </section>
      <!--Section: More-->

    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright SaasKun.com
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  
  <script type="text/javascript" src="bts/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="bts/js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
















 <!-- Full Page Intro -->
  <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/93.jpg'); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="text-center white-text mx-5 wow fadeIn">
        <h1 class="mb-4">
          <strong>Welcome to SaasKun Web</strong>
        </h1>

        <p>
          <strong>The best IoT community of the world</strong>
        </p>

        <p class="mb-4 d-none d-md-block">
          <strong> Our Commitment is to create the first fully interactive platform for IoT (Internet of Things).
            Do you want to join us?, Sing up.</strong>
        </p>

        <a href="#!" class="btn btn-outline-white btn-lg">Home
          
        </a>
      </div>
      <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

  </div>
  <!-- Full Page Intro -->

  <!--Main layout-->
  <main>
    <div class="container">

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" class="img-fluid z-depth-1-half"
              alt="">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">How Our Platform Works</h3>
            <p>
            
            The operation of our system, although it is not something that can be understood overnight, having knowledge in several branches such as electronics and programming can understand how the system is working, our system (NAH) It is divided into core components, the node and the platform registry.
            So, What is a node?
      <br>
      According to Wikipedia a node is: <i>"A intersection point, connection or union of several elements that converge in the same place."</i>
      <br>
      The node will help many of the tasks that our service provides as one of the essential parts of our service, without it no management of our home could be done.
      <br>
      As the name indicates the <strong> registration on the platform </strong> is to register a user who wants to use our service, for this you only need to enter our page and click on <strong> Register for Free </ strong>, or the icon located in the upper right where there is the silhouette of a person with a sum symbol.
      <br>
      It is vitally important to be registered on our page in order to use our service in order to use it.
            </p>
            <p>Do you need more information? You can consult the documentation on NAH (IoT Platform).</p>
            <!-- Main heading -->

            <hr>


        
      <h4 class="feature-title">Our service has:</h4>
            <p>
              <ul>
                <li> <strong>250+</strong> Maximum Nodes.</li>
          <li> <strong>1</strong> User.</li>
          <li> <strong>Alarms</strong> Customized and constantly updated components.</li>
          <li> <strong>Start with your free-to-use account before becoming a Premium.</strong></li>
              </ul>
            </p>

            <!-- CTA -->
            <a target="_blank" href="Manual.pdf" download="Manual" class="btn btn-grey btn-md">Download Manual
              <i class="fas fa-download ml-1"></i>
            </a>
            <a target="_blank" href="/signup" class="btn btn-grey btn-md">Sing up free
              
              <i class="far fa-image ml-1"></i>
            </a>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Main info-->

      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section>

        <h3 class="h3 text-center mb-5">About of us</h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">

            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-code fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Our Nodes</h5>
                <p class="grey-text">
                  As we mentioned before, nodes are a very important and essential part for our service to work as it must, without them you can not manage any device from our page so it is necessary to take that into account. Our nodes are compatible with a wide variety of electronic devices, mainly the most basic or what everyone would have in your home as it can be a simple and simple focus, with the node you can remotely control the on or off of this <device class="">  </device></p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-book fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Plataforma</h5>
                <p class="grey-text">
          The platform has the function of controlling the nodes that our client has, this is achieved through a SaasKun account (previously registered account), so you can modify the different nodes that are in the home providing the user information about your home in addition to having control over it.
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-graduation-cap fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Manuales</h5>
                <p class="grey-text">
                We are aware that our users like to explore or experiment with what they have in hand, we cannot blame them since in our nature there has always been the curiosity to know <strong> What would happen if ...? </strong> So we devised a manual in which you can see the configurations available to the user, configurations that will allow the user to experiment in different ways with our service (within what our policies dictate), our manual will have updates that will contain more information about what can be configured or the possibilities that are available.
          </p>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12">
            <h5 class="feature-title">Do you want some more information?</h5>
            <p class="h5 text-center mb-4">We leave you this video that gives an introduction to IoT.</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iPFbHL6Ec4c" allowfullscreen></iframe>
            </div>
            <p class="h5 text-center mb-4">And also this one, which will give you an introduction to what is home automation.</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q3MQTXjdNMI" allowfullscreen></iframe>
            </div>
          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

      <hr class="my-5">

      <!--Section: Not enough-->
      <section>

        <h2 class="my-5 h3 text-center">Features</h2>

        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">

          <!--First column-->
          <div class="col-md-4">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Customizable</h6>
                <p class="grey-text">SaasKun Nah da lugar a poder personalizar la forma de gestionar tu hogar, actualmente se encuentra muy estandarizado todo, pero conforme avancemos podrás tener más libertad de personalización.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Turn on and turn off</h6>
                <p class="grey-text">With our service you can control the on or off of certain devices that are connected to a node, which results in being able to turn off that light that remained on you after leaving your home in a hurry or otherwise, turn on a light before Get to your home after a long day at work.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Electric control</h6>
                <p class="grey-text">With SaasKun Nah you can see how much energy each device that is connected to a node consumes and with that information analyze which devices consume more energy at a certain time.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Users</h6>
                <p class="grey-text">Our service can be controlled by more than one user (in a premium contract service) and each user will have an assigned room which gives him control over his own bedroom of course there will be an administrator who will have control over what users They may or may not do.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/First column-->

          <!--Second column-->
          <div class="col-md-4 flex-center">
            <img src="https://mdbootstrap.com/img/Others/screens.png" alt="MDB Magazine Template displayed on iPhone"
              class="z-depth-0 img-fluid">
          </div>
          <!--/Second column-->

          <!--Third column-->
          <div class="col-md-4 mt-2">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Records</h6>
                <p class="grey-text">No, we do not refer to the registration of a user, the records refer to a log about what is happening with the devices, its main function is to inform an administrative about what is happening, in the log you can see that the user used a certain device and what time.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Programmation of turn on and turn off</h6>
                <p class="grey-text">One of our tools for premium users is to be able to program the on or off of, for example, a focus of the main room, either to avoid having to enter the application every day to turn on or off a light or to have the light ready at some time in the morning to wake up and save a few useful minutes.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Easy contratation</h6>
                <p class="grey-text">Hiring our service does not consist of doing many things, just register on our page and make a call for the installation of the nodes where indicated.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-check-circle fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Alerts</h6>
                <p class="grey-text">Another of the things that a premium user can do is the personalization of alerts, these will be activated according to what the user indicates, for example, when a certain device exceeds a certain electrical consumption selected by the user to send an alert of that event.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/Third column-->

        </div>
        <!--/First row-->

      </section>
      <!--Section: Not enough-->

      <hr class="mb-5">

      <!--Section: More-->
      <section>

        <h2 class="my-5 h3 text-center">Others features</h2>

        <!--First row-->
        <div class="row features-small mt-5 wow fadeIn">

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fab fa-firefox fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2 pl-3">
                <h5 class="feature-title font-bold mb-1">From wherever...</h5>
                <p class="grey-text mt-2">You can have accessibility to your home from any place where you have internet access, just enter your preferred browser, log in with your user account and that its all! and soon you can enter with an application for mobile devices.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-level-up-alt fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Frequent updates</h5>
                <p class="grey-text mt-2">Our team knows how important it is to keep our users updated and that is why we are constantly improving our service, providing our customers with frequent updates.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-comments fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Helper community</h5>
                <p class="grey-text mt-2">Although at the beginning of each project or service users do not have as much information regarding the service, we trust that by 2 years our community will grow by 70%, according to the estimate of users that the development team expects, and thereby create a community that will help novice users to customize their home with a more professional style.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->


        </div>
        <!--/First row-->

        <!--Second row-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Technical support</h5>
                <p class="grey-text mt-2">Our development team has the disposition to help its users whenever they need it, so there are multiple ways to solve any technical problem that is had by message through our Facebook page, by email, in frequent questions or by telephone.
                </p>
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-xl-3 col-lg-6">
            <!--Grid row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>
              </div>
              <div class="col-10 mb-2">
                <h5 class="feature-title font-bold mb-1">Etc...</h5>
               <!--     <p class="grey-text mt-2"> </p>   -->
              </div>
            </div>
            <!--/Grid row-->
          </div>
          <!--/Grid column-->


        </div>
        <!--/Second row-->

      </section>
      <!--Section: More-->

    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright SaasKun.com
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  
  <script type="text/javascript" src="bts/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="bts/js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>




</body>