
<div class="container containerreg2">
    <div class="row">
        <h3>Bienvenido {{user.username}}</h3>
        <!--telefono, grupo, contraseña, correo, -->
    </div>
	{{!-- src="/uploadsdni/{{user.username}}.jpg" --}}
		<img class="materialboxed" width="250" src="/uploadsdni/{{user.username}}.jpg">

	  <form action="links/uploaddni" enctype="multipart/form-data" method="POST">
	  	<button class="waves-effect waves-light btn" >Cambiar</i></button>
    <div class="file-field input-field">
      <div>
        <input type="file" name="imagedni">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Seleccionar Nueva Imagen de Perfil">
      </div>
	  
    </div>
  </form>
    <div class="row">
	    <div class="col-10">
	    	<h5 class="feature-title" style="text-align: left;">Nombre: {{user.nombre}}</h5>
	    </div>
	</div>
	
	<div class="row">
	    <div class="col-10">
	    	<h5 class="feature-title" style="text-align: left;">Apellido: {{user.apellidos}} </h5>
	    </div>
	</div>

	<div class="row">
	    <div class="col-10">
	    	<h5 class="feature-title" style="text-align: left;">Nombre de usuario: {{user.username}} </h5> 
	    </div>
	</div>

	<div class="row">
	    <div class="col-10">
	    	<h5 class="feature-title" style="text-align: left;">Telefono: {{user.telefono}} </h5> 
	    </div>
	</div>

	<div class="row">
	    <div class="col-10">
	    	<h5 class="feature-title" style="text-align: left;">Grupo: {{user.grupo}}</h5>
	    </div>
	</div>

	<div class="row">
	    <div class="col-10">
	    	<h5 class="feature-title" style="text-align: left;">Correo: {{user.email}}</h5>
	    </div>
	</div>

	<div class="row">
	    <div class="col-10">
	    	<h5 class="feature-title" style="text-align: left;">Contraseña: </h5>
	    </div>
		<a style="float: right;" class="btn btn-grey btn-md"  href="links/profileedit"  >Cambiar</a>
	</div>
	
</div>