
<div class="container containerreg2">
    <div class="row">
        <h3>Bienvenido {{user.username}}</h3>
        <!--telefono, grupo, contraseña, correo, -->
    </div>
	{{!-- src="/uploadsdni/{{user.username}}.jpg" --}}
		<img class="materialboxed" width="250" src="/uploadsdni/{{user.username}}.jpg">

	  
	  	<button class="waves-effect waves-light btn" >Cambiar</i></button>
    <div class="file-field input-field">
      <div>
        <input type="file" name="imagedni">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Seleccionar Nueva Imagen de Perfil">
      </div>
	  
    </div>
  
  <form action="/links/edit/{{user.id_usuario}}" method="POST">
    <div class="row">
	    <div class="col-10">
	    	Nombre:  <input name="nombre" class="feature-title" style="text-align: left;" placeholder="{{user.nombre}}" required ></input>
	    </div>
	</div>
	
	<div class="row">
	    <div class="col-10">
	    Nombre de usuario:	<input name="username" class="feature-title" style="text-align: left;" placeholder="{{user.username}}" required >  </input>
	    </div>
	</div>

	<div class="row">
	    <div class="col-10">
	    Apellidos:	<input name="apellidos" class="feature-title" style="text-align: left;" placeholder="{{user.apellidos}}" required >  </input> 
	    </div>
	</div>

	<div class="row">
	    <div class="col-10">
	    Telefono:	<input name="telefono" class="feature-title" style="text-align: left;" placeholder="{{user.telefono}}" required >  </input> 
	    </div>
	</div>

	<div class="row">
	    <div class="col-10">
	    Grupo:	<input name="grupo" class="feature-title" style="text-align: left;" placeholder="{{user.grupo}}" required >   </input>
	    </div>
	</div>

	<div class="row">
	    <div class="col-10">
	    Correo:	<input name="email" class="feature-title" style="text-align: left;" placeholder="{{user.email}}" required > </input>
	    </div>
	</div>

	<div class="row">
	    
		<button class="btn-floating btn-large waves-effect waves-light "><i class="material-icons">add</i></button>
	</div>
	</form>

</div>