<div class="container containerreg">
  <div class="section"></div>
    <center>
      <img class="responsive-img" style="width: 150px;" src="./img/nah.gif" />
      <div class="section"></div>

      <h5 class="indigo-text">Please, login into your account</h5>
      <div class="section"></div>

      <span class="container">
        <span class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

          <form class="col s12" action="/signin" method="POST">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <span class='row'>
              <span class='input-field col s12'>
                <i class="material-icons prefix">verified_user</i>
                <input class='validate' type='text' name='username' id='username' placeholder="Enter your Username" />
              </span>
            </span>

            <span class='row'>
              <span class='input-field col s12'>
                <i class="material-icons prefix">lock_open</i>
                <input class='validate' type='password' name='password' id='password' />
                <label for='password'>Enter your Password</label>
              </span>
              <label style='float: right;'>
								<a class='pink-text' href='#!'><b>Forgot Password?</b></a>
							</label>
            </span>

            <br />
            <center>
              <div class='row'>
                <button type='submit' class='col s12 btn btn-large waves-effect indigo'>Login</button>
              </div>
            </center>
          </form>
        </span>
      </span>
      
    

    <div class="section"></div>
    <a href="/signup">Create account</a>
    <div class="section"></div>
    </center>
</div>