<div class="container containerreg">   
                <span class="row">
                     <h3 class="center-align">SaasKun Register</h3>
                    <span class="col s10">
                        <div clas="card">
                            <div class="card-content">
                               
                                <form action="/signup" method="POST" >
                                    <div class="row">
                                        <div class="input-field col s12">
                                        <i class="material-icons prefix">account_circle</i>
                                        <label>Nombre</label>
                                        <input name="nombre" type="text" placeholder="Nombre" required></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                        <i class="material-icons prefix">face</i>
                                        <label>Username</label>
                                        <input name="username" type="text" placeholder="Username" required></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                        <i class="material-icons prefix">more</i>
                                        <label>Apellidos</label>
                                            <input name="apellidos" type="text" placeholder="Apellidos" required></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                        <i class="material-icons prefix">phone_iphone</i>
                                        <label>Telefono</label>
                                            <input name="telefono" type="tel" pattern="[0-9]{10}" placeholder="Telefono a 10 Digitos" required></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                        <i class="material-icons prefix">group</i>
                                        <label>Grupo</label>
                                            <input name="grupo" type="text" placeholder="Grupo" required></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                        <i class="material-icons prefix">enhanced_encryption</i>
                                        <label>Password 8 Digitos</label>
                                            <input name="password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="número, mayúscula y minúscula" required></input>
                                       </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                        <i class="material-icons prefix">email</i>
                                        <label>Email</label>
                                            <input name="email" type="email" placeholder="Email" required></input>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn waves-effect waves-light" >Registrar <i class="material-icons right">send</i></button>
                                </form>
                        </div>

                    </div>

                    </span>

                </span>
            </div>