header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
 
.flash_message {
  position: relative;
  top: 1px;
  z-index: 99999;
  min-width: 20%;
}

.chip_message_success,
.chip_message_info,
.chip_message_warning,
.chip_message_alert {
  text-align: center;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 20px !important;
  min-width: 80%;
  min-height: 50px;
}
.chip_message_info {
  background-color: #039be5 !important;
}

.chip_message_success {
  background-color: #43a047 !important;
}

.chip_message_warning {
  background-color: #fbc02d !important;
}

.chip_message_alert {
  background-color: #c62828 !important;
}

.black-text a{
  color: black;
  font-weight: bold;
 }

.brand-logo img {
  height: 64px;
}




.containerreg {
  background: white;
  padding: 20px 25px;
  border: 5px solid #1b89d3;
  width: 400px;
  height: auto;
  box-sizing: border-box;
  position: relative;
}

.containerreg2 {
  background: white;
  padding: 20px 25px;
  border: 5px solid #1b89d3;
  width: 600px;
  height: auto;
  box-sizing: border-box;
  position: relative;
}
.col.s6 > .btn {
   width: 100%;
}
.gender-male,.gender-female {
  display: inline-block;
}
.gender-female {
  margin-left: 35px;
}
radio:required {
  border-color: red;
}
.containerreg {
  animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}
.containerreg2 {
  animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}

@keyframes showUp {
  0% {
    transform: scale(0);
  }
  100% {
    transoform: scale(1);
  }
}
.row {margin-bottom: 10px;}

.ngl {
  position: absolute;
  top: -20px;
  right: -20px;
} 

body {
  margin-top: 0px;
}