
.Header {
  background-color: #282c34;
  height:5%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.logo img {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
